[mysqld]
user=mysql
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
symbolic-links=0
character-set-server                            = latin1
user                                            = mysql
port                                            = 3306

#pid-file                                        = /var/run/mysqld/mysqld.pid
#log-error                                       = /var/log/mysql/mysqld.err
#basedir                                         = /usr
datadir                                         = /var/lib/mysql
skip-external-locking
table_cache  	                                = 256
language                                        = /usr/share/mysql/english
tmpdir                                          = /tmp/
innodb_buffer_pool_size = 16M
innodb_additional_mem_pool_size = 2M
innodb_data_file_path = ibdata1:10M:autoextend:max:128M
innodb_log_file_size = 5M
innodb_log_buffer_size = 8M
innodb_log_files_in_group=2
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 50
innodb_file_per_table
thread_cache_size = 4
query_cache_size = 2M
query_cache_limit = 8M
table_cache = 512
table_open_cache = 1024
max_heap_table_size = 128M
table_definition_cache = 1024
max_connections = 1024
key_buffer_size = 512M
join_buffer_size=128M
concurrent_insert=2
low_priority_updates=1

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[mysql]
character-sets-dir=/usr/share/mysql/charsets
default-character-set=latin1


[mysqladmin]
character-sets-dir=/usr/share/mysql/charsets
default-character-set=latin1

[mysqlcheck]
character-sets-dir=/usr/share/mysql/charsets
default-character-set=latin1

[mysqldump]
character-sets-dir=/usr/share/mysql/charsets
default-character-set=latin1

[mysqlimport]
character-sets-dir=/usr/share/mysql/charsets
default-character-set=latin1

[mysqlshow]
character-sets-dir=/usr/share/mysql/charsets
default-character-set=latin1

[myisamchk]
character-sets-dir=/usr/share/mysql/charsets

[myisampack]
character-sets-dir=/usr/share/mysql/charsets

[mysqld_safe]
err-log = /var/log/mysql.err
